@import url("reset.css");
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  font-size: 62.5%;
  overflow: hidden;
}
#wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 3.5rem;
  background: 0;
  border-bottom: 0.1rem solid #bfbfbf;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
header .header_left {
  width: 3.2rem;
  height: 3.5rem;
  background: 0;
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
}
header .header_left img {
  width: 0.9rem;
  height: 1.5rem;
  background: 0;
}
header .header_right {
  width: 3.2rem;
  height: 3.5rem;
  background: 0;
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
}
header .header_right img {
  width: 1.6rem;
  height: 1.6rem;
  background: 0;
}
header .header_center {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.6rem;
  line-height: 3.5rem;
}
section {
  -webkit-box-flex: 1;
}
section .main {
  width: 100%;
  height: 6.7rem;
  background: #ffffff;
  margin-top: 0.5rem;
  border-top: 0.1rem solid #cccccc;
  border-bottom: 0.1rem solid #cccccc;
}
section .main form .name {
  width: 100%;
  height: 3.3rem;
  background: none;
  margin-left: 1rem;
  border-bottom: 0.1rem solid #cccccc;
}
section .main form .name input {
  width: 100%;
  height: 3.3rem;
  background: 0;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
section .main form .name input::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #666666;
}
section .main form .passward {
  width: 100%;
  height: 3.3rem;
  background: 0;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .main form .passward span {
  display: inline-block;
  width: 6.9rem;
  height: 3.3rem;
  background: 0;
  text-align: center;
  line-height: 3.3rem;
  font-size: 1.2rem;
  border-left: 1px solid #cccccc;
}
section .main form .passward .as {
  -webkit-box-flex: 1;
  width: 100%;
  height: 100%;
  background: none;
  padding-left: 1rem;
  box-sizing: border-box;
}
section .main form .passward .as input {
  width: 100%;
  height: 3.3rem;
  background: none;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
section .main form .passward .as input::-webkit-input-placeholder {
  font-size: 1.4rem;
  color: #666666;
}
section .main form .p1 {
  width: 100%;
  height: 2.4rem;
  background: none;
  font-size: 1.2rem;
  line-height: 2.4rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
section .main form .sub {
  width: 100%;
  height: 3.7rem;
  background: none;
  padding: 1rem 1rem 0 1rem;
  box-sizing: border-box;
}
section .main form .sub input {
  width: 100%;
  height: 2.5rem;
  background: #ff7f1c;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
