@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body,
.bos_feedback {
  width: 100%;
  height: 100%;
  background: null;
}
.bos_feedback {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.bos_feedback header {
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  border-bottom: 1px solid gainsboro;
  position: relative;
}
.bos_feedback header .header_left {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
}
.bos_feedback header .header_left img {
  width: 0.8rem;
  height: auto;
  background: none;
}
.bos_feedback header h1 {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.5rem;
  line-height: 4rem;
}
.bos_feedback section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  padding: 0 3rem;
  text-align: center;
  overflow-y: auto;
}
.bos_feedback section::-webkit-scrollbar {
  width: 0;
}
.bos_feedback section img {
  width: 10.5rem;
  height: auto;
  background: #f2f2f2;
  margin-top: 7rem;
}
.bos_feedback section h2 {
  font-size: 1.4rem;
  margin: 3rem 0 0.2rem;
}
.bos_feedback section p {
  color: #999999;
  line-height: 2.2rem;
}
