@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body,
.boss {
  width: 100%;
  height: 100%;
  background: null;
}
.boss {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  position: relative;
}
.boss header {
  width: 100%;
  height: 4.5rem;
  background: #f7f7f7;
  border-bottom: 1px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss header .header_left {
  width: 18%;
  height: auto;
  background: none;
  margin-left: 1rem;
  margin-top: 1.4rem;
}
.boss header .header_left img {
  width: 1rem;
  height: auto;
  background: none;
}
.boss header h1 {
  -webkit-box-flex: 1;
  font-size: 1.6rem;
  line-height: 4.5rem;
  text-align: center;
}
.boss header .header_right {
  width: 7.5rem;
  height: auto;
  background: none;
}
.boss header .header_right span {
  margin-right: 1rem;
  line-height: 4.5rem;
  font-size: 1.3rem;
}
.boss section {
  -webkit-box-flex: 1;
  background: #f3f3f3;
  overflow: auto;
}
.boss section::-webkit-scrollbar {
  width: 0;
}
.boss section .fit_search {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  position: relative;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid beige;
}
.boss section .fit_search input {
  width: 100%;
  height: 3rem;
  background: #e4e4e4;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding-left: 3.5rem;
  box-sizing: border-box;
}
.boss section .fit_search img {
  width: 1.6rem;
  height: auto;
  background: none;
  position: absolute;
  top: 1.2rem;
  left: 2rem;
}
.boss section dl {
  background: white;
  padding: 0.8rem 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss section dl dt {
  width: 7.5rem;
  height: 7.5rem;
  background: none;
}
.boss section dl dt img {
  width: 7.5rem;
  height: auto;
  background: none;
}
.boss section dl dd {
  -webkit-box-flex: 1;
  margin-left: 1rem;
}
.boss section dl dd span {
  color: #ff7f1d;
  float: right;
  margin-top: 2rem;
  font-size: 1.3rem;
}
