@import url("reset.css");
html,
body,
.boss_index {
  width: 100%;
  height: 100%;
  background: null;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
.boss_index {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boss_index header {
  position: relative;
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  border-bottom: 1px solid gainsboro;
}
.boss_index header img {
  width: 1.7rem;
  height: auto;
  background: none;
  position: absolute;
  left: 1.2rem;
  top: 1.2rem;
}
.boss_index header h1 {
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
}
.boss_index nav {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-bottom: 1px solid gainsboro;
}
.boss_index nav .nav {
  width: 100%;
  height: 10rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_index nav .nav .nav_left {
  width: 5.5rem;
  height: 5.5rem;
  background: none;
  margin-left: 1.6rem;
  margin-top: 1.5rem;
}
.boss_index nav .nav .nav_left .circle {
  border-radius: 50%;
  overflow: hidden;
}
.boss_index nav .nav .nav_left .circle img {
  width: 5.5rem;
  height: 5.5rem;
  background: none;
}
.boss_index nav .nav .nav_left h5 {
  text-align: center;
  font-size: 1.1rem;
}
.boss_index nav .nav .nav_right {
  -webkit-box-flex: 1;
  margin: 2.5rem 0 2.5rem 1.3rem;
  border-left: 1px solid gainsboro;
}
.boss_index nav .nav .nav_right .capte {
  float: left;
  position: relative;
}
.boss_index nav .nav .nav_right .capte p {
  margin-left: 1.3rem;
  font-size: 1.2rem;
}
.boss_index nav .nav .nav_right .capte p span {
  display: inline-block;
  width: 4.6rem;
  height: 1.4rem;
  background: #ff4808;
  text-align: center;
  line-height: 1.4rem;
  border-radius: 3px;
  color: white;
  float: left;
  font-size: 8px;
  position: absolute;
  right: -5rem;
  top: 0.2rem;
}
.boss_index nav .nav .nav_right .capte p:nth-child(1) {
  margin-bottom: 1.2rem;
  font-size: 1.3rem;
}
.boss_index nav .nav .nav_right .call {
  float: right;
}
.boss_index nav .nav .nav_right .call img {
  width: 1rem;
  height: auto;
  background: none;
  margin-top: 2rem;
  margin-right: 1.4rem;
}
.boss_index section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow-y: auto;
}
.boss_index section::-webkit-scrollbar {
  width: 0;
}
.boss_index section .work h2 {
  background: white;
  text-align: center;
  color: #ff7813;
  line-height: 3.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
.boss_index section .work h2 i {
  font-size: 0.6rem;
}
.boss_index section .work .list .branch {
  width: 100%;
  height: 7rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_index section .work .list .branch dl {
  -webkit-box-flex: 1;
  width: 50%;
  border-top: 1px solid beige;
  border-right: 1px solid beige;
}
.boss_index section .work .list .branch dl dt {
  float: left;
  line-height: 8.2rem;
}
.boss_index section .work .list .branch dl dt img {
  width: 2.3rem;
  height: auto;
  background: none;
  margin-left: 1rem;
}
.boss_index section .work .list .branch dl dd {
  float: left;
  margin-left: 1rem;
}
.boss_index section .work .list .branch dl dd h5 {
  font-size: 1.4rem;
  line-height: 4.2rem;
}
.boss_index section .work .list .branch dl dd h6 {
  font-size: 1.2rem;
  color: #808080;
}
.boss_index section .work .list .branch dl:nth-child(2) img {
  width: 2.1rem;
  height: auto;
  background: none;
}
.boss_index section .news {
  background: white;
  margin-top: 0.5rem;
}
.boss_index section .news .title {
  width: 100%;
  height: 3.4rem;
  background: none;
  border-bottom: 1px solid beige;
}
.boss_index section .news .title h3 {
  width: 12rem;
  height: 3.4rem;
  background: none;
  margin-left: 1rem;
  line-height: 3.4rem;
  font-size: 1.3rem;
  float: left;
}
.boss_index section .news .title h3 img {
  width: 2rem;
  height: auto;
  background: none;
  margin-right: 0.8rem;
  vertical-align: middle;
}
.boss_index section .news .title span {
  display: block;
  width: 1rem;
  height: auto;
  background: none;
  float: right;
  margin-right: 1rem;
}
.boss_index section .news .title span img {
  width: 0.8rem;
  height: auto;
  background: none;
  margin-top: 1.2rem;
}
.boss_index section .news .info dl {
  border-bottom: 1px solid beige;
  position: relative;
  padding: 1rem;
}
.boss_index section .news .info dl dt {
  float: left;
}
.boss_index section .news .info dl dt img {
  width: 4rem;
  height: auto;
  background: none;
}
.boss_index section .news .info dl dd {
  float: left;
  margin-left: 1.2rem;
}
.boss_index section .news .info dl dd h3 {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}
.boss_index section .news .info dl dd p {
  font-size: 1.2rem;
  color: #a3a3a3;
}
.boss_index section .news .info dl dd span {
  font-size: 1.1rem;
  line-height: 4rem;
  color: #a3a3a3;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.boss_index footer {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  border-top: 1px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_index footer dl {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #808080;
}
.boss_index footer dl img {
  width: auto;
  height: 22px;
  background: none;
  margin-top: 4px;
  margin-bottom: -2px;
}
.boss_index footer dl:nth-child(1) img {
  width: auto;
  height: 23px;
  background: none;
  margin-top: 3px;
}
.boss_index footer dl:nth-child(3) img {
  width: 3.8rem;
  height: auto;
  background: none;
  margin-top: 3px;
}
