@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body,
.boss_mystore {
  width: 100%;
  height: 100%;
  background: null;
}
.boss_mystore {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boss_mystore header {
  width: 100%;
  height: 4.5rem;
  background: #f7f7f7;
  border-bottom: 1px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_mystore header .store_left {
  width: 1rem;
  height: auto;
  background: none;
  margin-left: 1rem;
  margin-top: 1.2rem;
}
.boss_mystore header .store_left img {
  width: 1rem;
  height: auto;
  background: none;
}
.boss_mystore header h1 {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 4.6rem;
  font-size: 1.6rem;
}
.boss_mystore header .store_right {
  width: 1.8rem;
  height: auto;
  background: none;
  margin-right: 1rem;
  margin-top: 1.2rem;
}
.boss_mystore header .store_right img {
  width: 1.8rem;
  height: auto;
  background: none;
}
.boss_mystore section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow-y: auto;
}
.boss_mystore section::-webkit-scrollbar {
  width: 0;
}
.boss_mystore section .store_main1 {
  margin: 1rem 0;
  border-bottom: 1px solid gainsboro;
}
.boss_mystore section .store_main1 .main1 {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  line-height: 4rem;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_mystore section .store_main1 .main1 p {
  -webkit-box-flex: 1;
  border-bottom: 1px solid gainsboro;
  margin-left: 1rem;
}
.boss_mystore section .store_main1 .main1 p img {
  width: 2.1rem;
  height: auto;
  background: none;
  vertical-align: middle;
  margin-right: 1rem;
  margin-top: -3px;
}
.boss_mystore section .store_main1 .main1 span {
  width: 1rem;
  height: auto;
  background: none;
  border-bottom: 1px solid gainsboro;
}
.boss_mystore section .store_main1 .main1 span img {
  padding-right: 1rem;
  width: 1rem;
  height: auto;
  background: none;
  margin-top: 1.2rem;
  padding-bottom: 0.7rem;
}
.boss_mystore section .store_main1 .main1 .view {
  border: none;
}
.boss_mystore section .store_main2 {
  border-bottom: 1px solid gainsboro;
}
.boss_mystore section .store_main2 .main2 {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  line-height: 4rem;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_mystore section .store_main2 .main2 p {
  -webkit-box-flex: 1;
  border-bottom: 1px solid gainsboro;
  margin-left: 1rem;
}
.boss_mystore section .store_main2 .main2 p img {
  width: 2.1rem;
  height: auto;
  background: none;
  vertical-align: middle;
  margin-right: 1rem;
  margin-top: -3px;
}
.boss_mystore section .store_main2 .main2 span {
  width: 1rem;
  height: auto;
  background: none;
  border-bottom: 1px solid gainsboro;
}
.boss_mystore section .store_main2 .main2 span img {
  padding-right: 1rem;
  width: 1rem;
  height: auto;
  background: none;
  margin-top: 1.2rem;
  padding-bottom: 0.7rem;
}
.boss_mystore section .store_main2 .main2 .view {
  border: none;
}
.boss_mystore section .store_main3 {
  margin-top: 1rem;
  border-bottom: 1px solid gainsboro;
}
.boss_mystore section .store_main3 .main3 {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  line-height: 4rem;
  font-size: 1.3rem;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_mystore section .store_main3 .main3 p {
  -webkit-box-flex: 1;
  border-bottom: 1px solid gainsboro;
  margin-left: 1rem;
}
.boss_mystore section .store_main3 .main3 p img {
  width: 2.1rem;
  height: auto;
  background: none;
  vertical-align: middle;
  margin-right: 1rem;
  margin-top: -3px;
}
.boss_mystore section .store_main3 .main3 span {
  width: 1rem;
  height: auto;
  background: none;
  border-bottom: 1px solid gainsboro;
}
.boss_mystore section .store_main3 .main3 span img {
  padding-right: 1rem;
  width: 1rem;
  height: auto;
  background: none;
  margin-top: 1.2rem;
  padding-bottom: 0.7rem;
}
.boss_mystore section .store_main3 .main3 .view {
  border: none;
}
.boss_mystore footer {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  border-top: 1px solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss_mystore footer dl {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1rem;
  color: #808080;
}
.boss_mystore footer dl img {
  width: auto;
  height: 22px;
  background: none;
  margin-top: 4px;
  margin-bottom: -2px;
}
.boss_mystore footer dl:nth-child(1) img {
  width: auto;
  height: 23px;
  background: none;
  margin-top: 3px;
}
.boss_mystore footer dl:nth-child(3) img {
  width: 3.8rem;
  height: auto;
  background: none;
  margin-top: 3px;
}
