@import url("reset.css");
html,
body,
#wrap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;
  font-size: 62.5%;
  overflow: hidden;
}
html {
  font-size: 62.5%;
}
#wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
header {
  width: 100%;
  height: 4rem;
  background: #f7f7f7;
  border-bottom: 0.1rem solid gainsboro;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
header .header_left {
  width: 3.2rem;
  height: 4rem;
  background: 0;
  text-align: center;
  padding-top: 1rem;
  box-sizing: border-box;
}
header .header_left img {
  width: 1rem;
  height: auto;
  background: 0;
}
header .header_right {
  width: 3.2rem;
  height: 4rem;
  background: 0;
  text-align: center;
  padding-top: 1.2rem;
  box-sizing: border-box;
}
header .header_right img {
  width: 1.6rem;
  height: 1.6rem;
  background: 0;
}
header .header_center {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 1.6rem;
  line-height: 4rem;
}
section {
  -webkit-box-flex: 1;
  overflow: auto;
}
section::-webkit-scrollbar {
  width: 0;
}
section .main1 {
  width: 100%;
  height: 2rem;
  background: none;
  padding-left: 1rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  line-height: 2rem;
}
section .main1 span {
  color: #FF7813;
}
section .main2 {
  width: 100%;
  height: auto;
  background: #ffffff;
  padding-left: 1rem;
  box-sizing: border-box;
}
section .main2 .main2_1 {
  width: 100%;
  height: 2.9rem;
  background: none;
  border-bottom: 0.1rem solid #ECE9E9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .main2 .main2_1 p {
  width: 6.5rem;
  height: 2.9rem;
  background: none;
  font-size: 1.2rem;
  line-height: 2.9rem;
}
section .main2 .main2_1 .in {
  -webkit-box-flex: 1;
  width: 100%;
  height: 2.9rem;
  background: 0;
}
section .main2 .main2_1 .in input {
  width: 100%;
  height: 2.9rem;
  background: 0;
  border: none;
  outline: none;
}
section .main2 .main2_1 .img3 {
  width: 1.5rem;
  height: 2.9rem;
  background: none;
  padding-top: 0.8rem;
  box-sizing: border-box;
}
section .main2 .main2_1 .img3 img {
  width: 0.5rem;
  height: auto;
  background: none;
}
section .main2 .main2_2 {
  width: 100%;
  height: 2.9rem;
  background: none;
  border-bottom: 0.1rem solid #ECE9E9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .main2 .main2_2 p {
  width: 4.2rem;
  height: 2.9rem;
  background: none;
  font-size: 1.2rem;
  line-height: 2.9rem;
}
section .main2 .main2_2 .in {
  -webkit-box-flex: 1;
  width: 100%;
  height: 2.9rem;
  background: 0;
}
section .main2 .main2_2 .in input {
  width: 100%;
  height: 2.9rem;
  background: 0;
  border: none;
  outline: none;
}
section .main2 .main2_2 .img3 {
  width: 1.5rem;
  height: 2.9rem;
  background: none;
  padding-top: 0.8rem;
  box-sizing: border-box;
}
section .main2 .main2_2 .img3 img {
  width: 0.5rem;
  height: auto;
  background: none;
}
section .main2 .main2_3 {
  width: 100%;
  height: 2.9rem;
  background: none;
  border-bottom: 0.1rem solid #ECE9E9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .main2 .main2_3 p {
  width: 6.5rem;
  height: 2.9rem;
  background: none;
  font-size: 1.2rem;
  line-height: 2.9rem;
}
section .main2 .main2_3 .in {
  -webkit-box-flex: 1;
  width: 100%;
  height: 2.9rem;
  background: 0;
}
section .main2 .main2_3 .in input {
  width: 100%;
  height: 2.9rem;
  background: 0;
  border: none;
  outline: none;
}
section .main2 .main2_4 {
  width: 100%;
  height: 2.9rem;
  background: none;
  border-bottom: 0.1rem solid #ECE9E9;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .main2 .main2_4 p {
  width: 4.2rem;
  height: 2.9rem;
  background: none;
  font-size: 1.2rem;
  line-height: 2.9rem;
}
section .main2 .main2_4 .in {
  -webkit-box-flex: 1;
  width: 100%;
  height: 2.9rem;
  background: 0;
}
section .main2 .main2_4 .in input {
  width: 100%;
  height: 2.9rem;
  background: 0;
  border: none;
  outline: none;
}
section .main2 .main2_5 {
  width: 100%;
  height: 2.9rem;
  background: none;
}
section .main2 .main2_5 p {
  width: 100%;
  height: 2.9rem;
  background: none;
  font-size: 1.2rem;
  line-height: 2.9rem;
}
section .main2 .main2_6 {
  width: 100%;
  height: 9.2rem;
  background: none;
  padding: 1rem 0;
  box-sizing: border-box;
}
section .main2 .main2_6 .add {
  width: 7rem;
  height: 7rem;
  background: none;
  border: 0.1rem solid #D9D9D9;
  margin-right: 1rem;
  float: left;
  position: relative;
  text-align: center;
  line-height: 6rem;
  font-size: 7rem;
  color: #BEBEBE;
}
section .main2 .main2_6 .add img {
  width: 7.2rem;
  height: 7.2rem;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
}
section .main3 {
  width: 100%;
  height: 4.5rem;
  background: #ffffff;
  margin-top: 0.5rem;
  padding: 0 1rem;
  box-sizing: border-box;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
section .main3 .main3_left {
  width: 100%;
  height: 4.5rem;
  background: none;
  -webkit-box-flex: 1;
  padding-top: 0.5rem;
  box-sizing: border-box;
}
section .main3 .main3_left .div4 p {
  float: left;
  line-height: 1.6rem;
  font-size: 1.2rem;
}
section .main3 .main3_left .div4 p span {
  margin-right: 0.5rem;
}
section .main3 .main3_left .div4 img {
  width: 1.3rem;
  height: auto;
  background: none;
  display: block;
  float: left;
  margin-right: 0.5rem;
}
section .main3 .main3_left .div5 {
  margin-top: 0.3rem;
}
section .main3 .main3_left .div5 p {
  float: left;
  line-height: 1.6rem;
  font-size: 1.2rem;
}
section .main3 .main3_left .div5 img {
  width: 1.3rem;
  height: auto;
  background: none;
  display: block;
  float: left;
  margin-right: 0.5rem;
}
section .main3 .main3_right {
  width: 0.5rem;
  height: 4.5rem;
  background: none;
  padding-top: 1.3rem;
  box-sizing: border-box;
}
section .main3 .main3_right img {
  width: 0.5rem;
  height: auto;
  background: none;
}
footer {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
footer .footer_left {
  -webkit-box-flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
  line-height: 4.2rem;
  font-size: 1.2rem;
}
footer .footer_left span {
  color: #ff7d1b;
}
footer .footer_right {
  width: 8.5rem;
  height: 4.2rem;
  background: #ff7d1b;
  text-align: center;
  line-height: 4.2rem;
  font-size: 1.6rem;
  color: #fff;
}
