@import url("reset.css");
html {
  font-size: 62.5%;
}
html,
body,
.boss {
  width: 100%;
  height: 100%;
  background: null;
}
.boss {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boss header {
  width: 100%;
  height: 4.5rem;
  background: #f7f7f7;
  border-bottom: 1px solid gainsboro;
}
.boss header .header_left {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
}
.boss header .header_left img {
  width: 1rem;
  height: auto;
  background: none;
}
.boss header h1 {
  text-align: center;
  line-height: 4.5rem;
  font-size: 1.5rem;
}
.boss header .header_right {
  position: absolute;
  right: 1rem;
  top: 1.4rem;
}
.boss header .header_right img {
  width: 2rem;
  height: auto;
  background: none;
}
.boss section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
}
.boss section .orange_main1 {
  width: 100%;
  height: 5rem;
  background: #ffffff;
}
.boss section .orange_main1 p {
  font-size: 1.3rem;
  line-height: 1.8rem;
  padding-top: 0.5rem;
}
.boss section .orange_main1 p img {
  width: auto;
  height: 1.4rem;
  background: none;
  vertical-align: middle;
  margin: -0.4rem 1rem 0 1.6rem;
}
.boss section .orange_main2 {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 0.5rem;
}
.boss section .orange_main2 .depict {
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  line-height: 3.5rem;
}
.boss section .orange_main2 .depict p {
  margin-left: 1rem;
  border-bottom: 1px solid beige;
}
.boss section .orange_main2 .depict1 {
  width: 100%;
  height: 5rem;
  background: #ffffff;
  border-bottom: 1px solid beige;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss section .orange_main2 .depict1 span {
  display: block;
  width: 6.3rem;
  height: auto;
  background: none;
  margin-left: 1rem;
  margin-top: 0.8rem;
}
.boss section .orange_main2 .depict1 p {
  -webkit-box-flex: 1;
  line-height: 2rem;
  margin-right: 1.6rem;
  margin-top: 0.6rem;
}
.boss section .orange_main2 .doc {
  width: 100%;
  height: 14rem;
  background: none;
}
.boss section .orange_main2 .doc p {
  line-height: 3.5rem;
  margin-left: 1rem;
}
.boss section .orange_main2 .doc ul {
  margin-top: 0.5rem;
  margin-left: 1rem;
  border-bottom: 1px solid beige;
}
.boss section .orange_main2 .doc ul li {
  float: left;
  margin-right: 1.5rem;
}
.boss section .orange_main2 .doc ul li img {
  width: 8rem;
  height: auto;
  background: none;
  margin-bottom: 1.5rem;
}
.boss section .orange_main2 .money {
  width: 100%;
  height: 6rem;
  background: #ffffff;
}
.boss section .orange_main2 .money .mon {
  margin: 0 1rem;
  line-height: 1.5rem;
  margin-top: 0.5rem;
  color: #a5a5a5;
}
.boss section .orange_main2 .money .mon span {
  float: left;
}
.boss section .orange_main2 .money .mon b {
  float: right;
}
.boss section .orange_main2 .money .addmoney {
  color: #ff8739;
}
.boss footer {
  width: 100%;
  height: 5rem;
  background: #ffffff;
}
.boss footer .orange_status {
  width: 50%;
  height: 5rem;
  background: none;
  float: left;
}
.boss footer .orange_status h5 {
  font-size: 1.3rem;
  margin-left: 1rem;
  line-height: 5rem;
}
.boss footer .orange_option {
  width: 50%;
  height: 4.5rem;
  background: none;
  float: right;
}
.boss footer .orange_option span {
  width: 6.8rem;
  height: 2.8rem;
  background: none;
  margin-top: 1.1rem;
  margin-right: 1rem;
  display: block;
  float: right;
  border: 1px solid #ff924f;
  border-radius: 0.6rem;
  text-align: center;
  line-height: 2.8rem;
  color: #ff924f;
}
