@import url("reset.css");
html,
body,
.boss {
  width: 100%;
  height: 100%;
  background: null;
}
.boss {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boss header {
  width: 100%;
  height: 45px;
  background: #f7f7f7;
  border-bottom: 1px solid #b4b4b4;
  position: relative;
}
.boss header img {
  width: 10px;
  height: auto;
  background: none;
  position: absolute;
  left: 12px;
  bottom: 14px;
}
.boss header h1 {
  font-size: 15px;
  text-align: center;
  line-height: 45px;
}
.boss section {
  -webkit-box-flex: 1;
  background: #f7f7f7;
}
.boss section .contain {
  border-bottom: 1px solid #b4b4b4;
  background: white;
  padding: 0 12px;
  position: relative;
}
.boss section .contain .pwd {
  border-bottom: 1px solid #b4b4b4;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.boss section .contain .pwd input {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
  -webkit-box-flex: 1;
}
.boss section .contain .code input {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  font-size: 14px;
}
.boss section .contain .code span {
  display: block;
  position: absolute;
  border-left: 1px solid #b4b4b4;
  border-top: 1px solid #b4b4b4;
  right: 0px;
  bottom: 0px;
  width: 80px;
  height: 40px;
  background: none;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}
.boss section .login {
  margin-top: 20px;
  padding: 0 12px;
}
.boss section .login button {
  width: 100%;
  height: 40px;
  background: #ff7d1b;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
}
