@import url("reset.css");
html,
body,
.boss {
  width: 100%;
  height: 100%;
  background: null;
}
.boss {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.boss header {
  width: 100%;
  height: 4.5rem;
  background: #f7f7f7;
  border-bottom: 1px solid gainsboro;
}
.boss header .header_left {
  position: absolute;
  left: 1rem;
  top: 1.4rem;
}
.boss header .header_left img {
  width: 1rem;
  height: auto;
  background: none;
}
.boss header h1 {
  text-align: center;
  line-height: 4.6rem;
  font-size: 1.5rem;
}
.boss header .header_right {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 1.1rem;
}
.boss section {
  -webkit-box-flex: 1;
  background: #f2f2f2;
  overflow-y: auto;
}
.boss section::-webkit-scrollbar {
  width: 0;
}
.boss section h2 {
  font-size: 1.4rem;
  line-height: 3.5rem;
  margin-left: 1rem;
}
.boss section .cause_area {
  padding: 0 1rem;
}
.boss section .cause_area input {
  width: 100%;
  height: 15rem;
  background: #ffffff;
  border: 1px solid gainsboro;
  outline: none;
  border-radius: 1rem;
}
.boss section h3 {
  font-size: 1.4rem;
  line-height: 4rem;
  margin-left: 1rem;
}
.boss section .upload {
  padding: 0 1rem;
}
.boss section .upload .load {
  width: 7rem;
  height: 7rem;
  background: none;
  border: 1px solid black;
  border-radius: 0.8rem;
  margin-right: 1.5rem;
  float: left;
}
.boss section .upload .load img {
  width: 7rem;
  height: 7rem;
  background: none;
  border-radius: 0.8rem;
}
.boss section .upload .unload {
  width: 7rem;
  height: 7rem;
  background: #f2f2f2;
  border: 1px solid black;
  border-radius: 0.8rem;
  float: left;
}
.boss section .upload .unload img {
  width: 4rem;
  height: auto;
  background: none;
  border-radius: 0.8rem;
  margin: 1.6rem 1.5rem 1.4rem;
}
