@import url("reset.css");
html,
body,
.boss {
  width: 100%;
  height: 100%;
  background: null;
}
.boss {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  background: #f7f7f7;
}
.boss header {
  width: 100%;
  height: 45px;
  background: none;
  border-bottom: 1px solid #d9d9d9;
}
.boss header .header_left {
  position: absolute;
  left: 12px;
  top: 12px;
}
.boss header .header_left img {
  width: 20px;
  height: auto;
  background: null;
}
.boss header h1 {
  text-align: center;
  line-height: 45px;
  font-size: 15px;
}
.boss header .header_right {
  position: absolute;
  right: 12px;
  top: 13px;
}
.boss header .header_right img {
  width: 20px;
  height: auto;
  background: null;
}
.boss nav {
  width: 100%;
  height: 40px;
  background: #ffffff;
}
.boss nav ul {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin: 5px 0;
}
.boss nav ul li {
  -webkit-box-flex: 1;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid  #d9d9d9;
}
.boss nav ul li img {
  width: 10px;
  height: auto;
  background: null;
  margin-left: 5px;
}
.boss nav ul li:nth-child(3) {
  border: none;
}
.boss section {
  -webkit-box-flex: 1;
  overflow-y: auto;
}
.boss section::-webkit-scrollbar {
  width: 0;
}
.boss section .contain {
  width: 100%;
  height: auto;
  background: #ffffff;
  margin-top: 5px;
}
.boss section .contain h3 {
  line-height: 30px;
  border-bottom: 1px solid beige;
  padding-left: 12px;
}
.boss section .contain .main {
  background: white;
}
.boss section .contain .main .main1 {
  padding: 10px 12px 3px;
}
.boss section .contain .main .main1 .deal {
  float: left;
}
.boss section .contain .main .main1 .deal p {
  font-size: 10px;
  color: #666666;
  line-height: 18px;
}
.boss section .contain .main .main1 .star {
  float: right;
}
.boss section .contain .main .main1 .star img {
  width: 12px;
  height: auto;
  background: null;
}
.boss section .contain .main .main2 {
  padding: 0 12px 8px;
  line-height: 18px;
}
.boss section .contain .main .main2 p {
  margin: 5px 0;
  line-height: 18px;
}
.boss section .contain .main .main2 p:nth-child(1) b {
  color: #666666;
}
.boss section .contain .main .main2 p:nth-child(2) b {
  color: #ff7d1b;
}
.boss section .contain .reply {
  width: 100%;
  height: 30px;
  background: #ffffff;
  border-top: 1px solid beige;
}
.boss section .contain .reply span {
  display: block;
  margin-top: 4px;
  margin-right: 12px;
  width: 60px;
  height: 20px;
  background: none;
  border: 1px solid #ff7d1b;
  border-radius: 5px;
  color: #ff7d1b;
  text-align: center;
  line-height: 20px;
  float: right;
}
.boss section .shade_big {
  width: 100%;
  height: 100%;
  background: #919191;
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0.4;
}
.boss section .shade_small {
  width: 100%;
  height: 110px;
  background: #ebebeb;
  box-sizing: border-box;
  padding: 10px 10px 0;
  display: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.boss section .shade_small input {
  width: 100%;
  height: auto;
  background: #ffffff;
  min-height: 65px ;
  border-radius: 5px;
  border: 1px solid #bebebe;
  border: none;
  outline: none;
}
.boss section .shade_small input::-webkit-input-placeholder {
  padding-top: -20px;
}
