@import url("reset.css");
.whb(@w,@h,@b){
    width: @w;
    height: @h;
    background: @b;
}
.f(@f){
    float: @f;   
}
.box(@to){
    display: -webkit-box;
    -webkit-box-orient: @to;
}
html,body,.boss_index{
    .whb(100%,100%,null);
    overflow: hidden;
}
html{
    font-size: 62.5%;
}
.boss_index{
    .box(vertical);
    header{
        position: relative;
        .whb(100%,4rem,#f7f7f7);
        border-bottom: 1px solid gainsboro;
        img{
            .whb(1.7rem,auto,none);
            position: absolute;
            left: 1.2rem;
            top: 1.2rem;
        }
        h1{
            text-align: center;
            line-height: 4rem;
            font-size: 1.5rem;
        }
    }
    nav{
        .whb(100%,auto,white);
        border-bottom: 1px solid gainsboro; 
        .nav{
            .whb(100%,10rem,white);
            .box(horizontal);
            .nav_left{
                .whb(5.5rem,5.5rem,none);
                margin-left: 1.6rem;
                margin-top: 1.5rem;
                .circle{
                    border-radius: 50%;
                    overflow: hidden;
                    img{
                        .whb(5.5rem,5.5rem,none);
                    }    
                }
                h5{
                    text-align: center;
                    font-size: 1.1rem;
                }
            }
            .nav_right{
                -webkit-box-flex: 1;
                margin: 2.5rem 0 2.5rem 1.3rem;
                border-left: 1px solid gainsboro;
                .capte{
                    float: left;
                    position: relative;
                    p{
                        margin-left: 1.3rem;
                        font-size: 1.2rem;
                        span{
                            display: inline-block;
                            .whb(4.6rem,1.4rem,#ff4808);
                            text-align: center;
                            line-height: 1.4rem;
                            border-radius: 3px;
                            color: white;
                            float: left;
                            font-size: 8px;
                            position: absolute;
                            right: -5rem;
                            top: 0.2rem;
                        }
                        &:nth-child(1){
                            margin-bottom: 1.2rem;
                            font-size: 1.3rem;
                        }
                    }
                }
                .call{
                    float: right;
                    img{
                        .whb(1rem,auto,none);
                        margin-top: 2rem;
                        margin-right: 1.4rem;
                    }
                }
            }
        }
    }
    section{
        -webkit-box-flex: 1;
        background: #f2f2f2;
        overflow-y: auto;
        &::-webkit-scrollbar{width: 0};
        .work{
            h2{
                background: white;
                text-align: center; 
                color: #ff7813;
                line-height: 3.5rem;
                font-size: 1.5rem;
                margin-top: 1rem;
                i{
                    font-size: 0.6rem;
                }
            }
            .list{
                .branch{
                    .whb(100%,7rem,white);
                    .box(horizontal);
                    dl{
                        -webkit-box-flex: 1;
                        width: 50%;
                        border-top: 1px solid beige;
                        border-right: 1px solid beige;
                        dt{
                            float: left;
                            line-height: 8.2rem;
                            img{
                                .whb(2.3rem,auto,none);
                                margin-left: 1rem;
                            }
                        }
                        dd{
                            float: left;
                            margin-left: 1rem;
                            h5{
                                font-size: 1.4rem;
                                line-height: 4.2rem;
                            }
                            h6{
                                font-size: 1.2rem;
                                color: #808080;
                            }
                        }
                        &:nth-child(2){
                            img{
                                .whb(2.1rem,auto,none);
                            }
                        }
                    }
                }
            }
        }
        .news{
            background: white;
            margin-top: 0.5rem;
            .title{
                .whb(100%,3.4rem,none);
                border-bottom: 1px solid beige;
                h3{
                    .whb(12rem,3.4rem,none);
                    margin-left: 1rem;
                    line-height: 3.4rem;
                    font-size: 1.3rem;
                    float: left;
                    img{
                        .whb(2rem,auto,none);
                        margin-right: 0.8rem;
                        vertical-align: middle;
                    }
                }
                span{
                    display: block;
                    .whb(1rem,auto,none);
                    float: right;  
                        margin-right: 1rem;
                    img{
                        .whb(0.8rem,auto,none);
                        margin-top: 1.2rem;
                    } 
                }
            }
            .info{
                dl{
                    border-bottom: 1px solid beige;
                    position: relative;
                    padding: 1rem;
                    dt{
                        float: left;
                        img{
                            .whb(4rem,auto,none);
                        }
                    }
                    dd{
                        float: left;
                        margin-left: 1.2rem;
                        h3{
                            font-size: 1.3rem;
                            margin-bottom: 0.3rem;
                        }
                        p{
                            font-size: 1.2rem; 
                            color: #a3a3a3;   
                        }
                        span{
                            font-size: 1.1rem;
                            line-height: 4rem;
                            color: #a3a3a3;
                            position: absolute;
                            right: 1rem;
                            top: 1rem;
                        }
                    }
                }
            }
        }
    }
    footer{
        .whb(100%,4rem,#ffffff);
        border-top: 1px solid gainsboro;
        .box(horizontal);
        dl{
            -webkit-box-flex: 1;
            text-align: center;
            font-size: 1rem;
            color: #808080;
            img{
                .whb(auto,22px,none);
                margin-top: 4px;
                margin-bottom: -2px;
            }
            &:nth-child(1){
                img{
                    .whb(auto,23px,none);
                    margin-top: 3px;
                }
            }
            &:nth-child(3){
                img{
                    .whb(3.8rem,auto,none);
                    margin-top: 3px;
                }
            }
        }
    }
}
